<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">
    <context:component-scan base-package="com.auth.shiro.util"/>
	<!-- 使用ehcache缓存 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:cache/ehcache.xml" />
	</bean>

	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="sid" />
		<property name="httpOnly" value="true" />
		<property name="maxAge" value="-1" />
	</bean>
	
	<!-- 记住我Cookie -->
	<bean id="remeberCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<constructor-arg value="remeberme" />
		<property name="maxAge" value="604800" />
	</bean>
	<bean id="rememberManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
	<property name="cookie" ref="remeberCookie"></property>
	</bean>
	<!-- 重复登录验证 -->
	<!-- <bean id="credentialsMatcher" class="com.java.shiro.credentials.RetryLimitCredentialsMatchr">
		<constructor-arg name="cacheManager" ref="cacheManager" />
		<property name="hashAlgorithmName" value="MD5" />
		<property name="hashIterations" value="1" />
		<property name="storedCredentialsHexEncoded" value="true" />
	</bean> -->
	<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="MD5" />
		<property name="hashIterations" value="12" />
		<property name="storedCredentialsHexEncoded" value="true" />
	</bean>
	
	

	<!-- 自定义realm -->
	<bean id="myRealm" class="com.auth.shiro.realm.ShiroDbRealm">
		<property name="authRoleService" ref="authRoleService" />
		<property name="authPerService" ref="authPerService" />
		<property name="authUserService" ref="authUserService" />
		<property name="authMenuService" ref="authMenuService" />
		<property name="credentialsMatcher" ref="credentialsMatcher" />
		<property name="cachingEnabled" value="true" />
		<property name="authenticationCachingEnabled" value="false" />
		<property name="authenticationCacheName" value="authenticationCache" />
		<property name="authorizationCachingEnabled" value="false" />
		<property name="authorizationCacheName" value="authorizationCache" />
	</bean>

	<!-- sessionId 生成器 -->
	<bean id="sessionIdGenerator"
		class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"></bean>

	<!-- 会话 -->
	<bean id="sessionDao"
		class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
		<property name="activeSessionsCacheName" value="shiro-activeSessionCache" />
		<property name="sessionIdGenerator" ref="sessionIdGenerator" />
	</bean>

	<!-- 会话管理 -->
	<bean id="sessionManager"
		class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="globalSessionTimeout" value="1800000" />
		<property name="deleteInvalidSessions" value="true" />
		<property name="sessionValidationSchedulerEnabled" value="true" />
		<!-- <property name="sessionValidationScheduler" ref="sessionValidationScheduler" 
			/> -->
		<property name="sessionDAO" ref="sessionDao" />
		<property name="sessionIdCookieEnabled" value="true" />
		<property name="sessionIdCookie" ref="sessionIdCookie" />
	</bean>

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm"></property>
		<property name="sessionManager" ref="sessionManager" />
		<property name="cacheManager" ref="cacheManager"></property>
		<property name="rememberMeManager" ref="rememberManager"></property>
	</bean>

	<bean id="formAuthenticationFilter" class="org.apache.shiro.web.filter.authc.FormAuthenticationFilter">
<!-- 		<property name="usernameParam" value="username" />
		<property name="passwordParam" value="password" /> -->
		<property name="loginUrl" value="/login" />
		<!-- <property name="failureKeyAttribute" value="shiroLoginFailure" /> -->
	</bean>
	<!-- Shiro的Web过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<!-- <property name="filters">
			<util:map>
				<entry key="authc" value-ref="formAuthenticationFilter" />
			</util:map>
		</property> -->
		<property name="loginUrl" value="/login" />
		<property name="successUrl" value="/index" />
		<property name="filterChainDefinitions">
			<value>
				/js/**=anon
				/img/**=anon
				/css/**=anon
				/plugins/**=anon
				/fonts/**=anon
				/login_validate=anon
				/index = authc
				/logout = logout
				/** = user
			</value>
		</property>
	</bean>
</beans>
